body{
    background-color: rgb(200,200,200);
    margin: 0;
}
h1{
    font-size: 55px;
    margin:20px 40px;
}
.navbar{
    background-color: black;
}
.nav-links {
    display: flex;
    list-style: none;
    font-size: 28px;
    justify-content: space-evenly;
    padding: 16px 0 16px 0;
    color: white;
    margin: 0;
}
.nav-link a{
    text-decoration: none;
    color: white;
}
.nav-links a:hover{
    color: gray;
}
.obr{
    display: grid;
    padding: 20px;
    gap: 30px;
    position: relative;
}
img{
    border-radius: 4px;
}
p{
    position: absolute;
    left: 400px;
}